@import "../scss/reset";
@import "../scss/public";

/* header top */
.header {
    width: 100%;
}
.header_topnav {
    height: 29px;
    background: #f2f2f2;
    border-bottom: 1px #e5e5e5 solid;
}
.header_topnav_cont {
    height: 29px;
    line-height: 30px;
    margin: 0 auto;
    a{
        color: #6c6c6c;
        display: block;
    }
}
.header_top_left li {
    margin-right: 30px;
}
.header_top_right li {
    float: left;
    padding: 0 12px;
    a{
        overflow: hidden;
    }
    span{
        float: left;
    }
    i{
        float: left;
        width: 6px;
        height: 29px;
        margin-left: 7px;
    }
}
.item_personal {
    position: relative;
    z-index: 399;
    a i{
        background: url(http://www.zhiwo.com/static/images/ico/topnav.png) no-repeat 0 -70px;
    }
}
.item_personal_subnav {
    width: 100%;
    position: absolute;
    background: #fff;
    z-index: 400;
    top: 29px;
    left: -1px;
    padding: 3px 0 10px;
    border: 1px #e5e5e5 solid;
    border-top: 0;
    overflow: hidden;
    display: none;
    ul li{
        clear: left;
        width: 100%;
        padding: 0;
        a{
            padding-left: 12px;
        }
    }
}
// .item_btn:hover .item_personal_subnav{
//  display:block;
// }
.header_top_right .item_personal:hover {
    background: #fff;
}
.wechat_ewm_img img {
    display: block;
    width: 100%;
}
.item_phone a {
    padding-left: 14px;
    background: url(http://www.zhiwo.com/static/images/ico/topnav.png) no-repeat 0 0;
}
.item_line {
    padding: 0 4px;
}
.item_service {
    position: relative;
    z-index: 399;
    i{
        background: url(http://www.zhiwo.com/static/images/ico/topnav.png) no-repeat 0 -70px;
    } 
}
/* logo */
.header_center {
    background: #fff;
    height: 108px;
}
.header_center_cont {
    margin: 0 auto;
}
.header_clogo {
    float: left;
    width: 260px;
    height: 108px;
    a{
    	display: block;
	    width: 260px;
	    height: 108px;
	    img{
	    	display: block;
		    width: 260px;
		    height: 108px;
	    }
    }
}
.header_tipinfo {
    float: right;
    width: 452px;
    height: 108px;
    img{
    	display: block;
	    width: 452px;
	    height: 108px;
    }
}
/* contianer */
.contbox {
    width: 100%;
    height: 785px;
    position: relative;
}
.contbox_banner {
    width: 100%;
    height: 785px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .contbox_bg {
	    width: 100%;
	    height: 785px;
	    display: block;
	    background: url(http://images.zhiwo.com/product/2015/0724/11885557634631760229.jpg) no-repeat center center;
	}
}
.sign_box {
    width: 326px;
    height: 459px;
    background: #fff;
    position: absolute;
    top: 125px;
    left: 50%;
    z-index: 2;
    margin-left: 74px;
    box-shadow: 0 0 26px #fcdfdf;
    padding: 30px 40px 40px;
}
.register_box{
	.userlogin_title {
    	margin-bottom: 30px;
	    p{
	    	font-family: 微软雅黑;
	    	overflow: hidden;
	    }
	    span{
	    	font-size: 24px;
		    color: #000;
		    float: left;
	    }
	    a{
	    	font-size: 16px;
		    color: #00c8ff;
		    float: right;
		    margin-top: 7px;
		    span{
		    	font-size: 12px;
			    color: #c4c4c4;
			    margin-top: 6px;
		    }
    	}
	}
	.userlogin_info {
	    margin-bottom: 9px;
	}
	 .u_info_password {
	    margin-bottom: 0px;
	}
	.u_info_btn {
	    margin-top: 8px;
	    input{
	    	width: 326px;
		    height: 36px;
		    color: rgb(255, 255, 255);
		    text-align: center;
		    line-height: 36px;
		    font-family: 微软雅黑;
		    font-size: 20px;
		    padding-left: 6px;
		    cursor: pointer;
		    background: rgb(0, 200, 255);
		    border-width: 0px;
		    border-style: initial;
		    border-color: initial;
		    border-image: initial;
	    }
	}
	.userlogin_other {
	    padding-top: 16px;
	}
} 
.u_info_h {
    height: 56px;
}
.u_info_txt {
    position: relative;
    input {
	    width: 314px;
	    height: 16px;
	    border: 1px #c4c4c4 solid;
	    font-size: 14px;
	    padding: 7px 0;
	    color: #6c6c6c;
	    padding-left: 10px;
	}
}
.error {
    font-size: 12px;
    color: #ff643c;
    margin-top: 3px;
    display: none;
}
.u_info_code{
	.u_info_txt{
		input {
		    width: 165px;
		    float: left;
		}
		img{
			margin: 7px 0 0 21px;
		    float: left;
		    width: 75px;
		    height: 20px;	
		}
		span{
			float: left;
		    color: #00c8ff;
		    margin: 9px 0 0 11px;
		    font-size: 14px;
		    cursor: pointer;
		}
	} 
}
.zhiwo_xieyi {
    margin-top: 4px;
    a{
    	color: #00c8ff;
    }
}
.sign_box .focus_sel{box-shadow:0 0 7px #0dcafe;border:1px #0dcafe solid;}
.u_info_code .u_info_txt {
    overflow: hidden;
}
.userlogin_other {
    border-top: 1px #e3e3e3 dotted;
    padding-top: 20px;
}
.ext_connect {
    margin-top: 14px;
    margin-left: -20px;
    li{
    	height: 30px;
	    float: left;
	    margin-left: 20px;
	    a{
	    	color:#6c6c6c;
	    	background:url(http://www.zhiwo.com/static/images/ico/other_autoico.png) no-repeat 0 0;
	    	padding-left: 30px;
		    display: block;
		    height: 30px;
		    line-height: 23px;
	    }
    }
    .qq a{
    	background-position: 0 0px;
	    font-size: 14px;
	    font-family: Arial;
    }
    .alipay a {
	    background-position: 0 -30px;
	}
	.sina a {
	    background-position: 0 -60px;
	}
	.t360 a {
	    background-position: 0 -90px;
	    font-size: 14px;
	    font-family: Arial;
	}
	.baidu a {
	    background-position: 0 -120px;
	}
	.renren a {
	    width: 47px;
	    background-position: 0 -180px;
	}
	.xunlei a {
	    background-position: 0 -210px;
	}
}
/* footer */
.footer {
    width: 100%;
    background: #fff;
}
.footer_intro {
    margin: 0 auto 35px;
    padding-top: 34px;
    padding-left: 16px;
    dl{
    	float: left;
	    width: 122px;
	    margin-left: 20px;
	    dt{
	    	font-size: 14px;
		    font-weight: bold;
		    margin-bottom: 10px;
	    }
	    dd a{
	    	    color: #6c6c6c;
			    font-size: 14px;
			    line-height: 24px;
			    display: block;
	    }
    }
    .footer_intro_mrl {
    	margin-left: 8px;
	}
}
.contact_method {
    font-weight: bold;
    font-size: 14px;
    margin-top: 6px;
}
.contact_phone {
    color: #00c8ff;
    font-weight: bold;
    margin-top: 8px;
}
.footer_intro_wechat {
    width: 103px;
    float: right;
    img{
    	display: block;
	    width: 103px;
	    height: 103px;
    }
}
.footer_intro_wechat dt {
    margin-left: 6px;
}

.footer_center {
    height: 35px;
    background: #00c8ff;
}
.footer_center_box {
    margin: 0 auto;
    ul{
    	padding-left: 58px;
	    text-align: center;
	    font-size: 0;
	    li{
	    	font-family: '微软雅黑';
		    color: #fff;
		    font-size: 14px;
		    font-weight: bold;
		    width: 134px;
		    height: 35px;
		    line-height: 35px;
		    display: inline-block;
		    padding-left: 30px;
		    text-align: left;
	    }
    }
}
.footer .w960 dl{width:110px;margin-left:10px;}
.fcb_invest {
    background: url(http://www.zhiwo.com/static/images/ico/assure2.png) no-repeat 0 0;
}
.fcb_quality {
    background: url(http://www.zhiwo.com/static/images/ico/assure2.png) no-repeat 0 -35px;
}
.fcb_return {
    background: url(http://www.zhiwo.com/static/images/ico/assure2.png) no-repeat 0 -70px;
}
.fcb_mail {
    background: url(http://www.zhiwo.com/static/images/ico/assure2.png) no-repeat 0 -105px;
}

.footer_copyright {
    margin: 0 auto;
    padding: 26px 0 45px;
  
    .footer_c_text1 {
	    margin-bottom: 7px;
	}
	.footer_c_text2 {
    	margin-bottom: 20px;
    	a{
    		color: #6c6c6c;
    	}
	}
}
.footer_copyright p {
    text-align: center;
    img{
    	display: inline-block;
    }
}
