@charset "utf-8";
/* CSS Document */

body,h1,h3,h2,h4,h5,h6,p,dl,dd,ul,li,ol,td,form,input,fieldset,legend{margin:0; padding:0;}

li{list-style:none;}
a{text-decoration:none;color:#333}
body,button, input, select, textarea {font:12px \5b8b\4f53,\5fae\8f6f\96c5\9ed1,Tahoma, Helvetica, Arial, sans-serif;}
img{display:block; border:none;}
a,input{outline:none;}
em,i{font-style:normal;}
b,strong,h1,h2,,h4,h5,h6{font-weight:normal;}
.clear:after{content:""; display:block; clear:both; height:0; visibility:hidden;}
table{border-collapse:collapse;border-spacing: 0;}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
s, strike, del {
    text-decoration: line-through;
}
